body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ce2c2c;
}

.login-container, .home-container {
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    width: 90%;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.error {
    color: red;
}
 body {
        margin: 0;
        background: linear-gradient(135deg, #031642 0%, #03132b 100%);
        color: var(--text-primary);
        min-height: 100vh;
}